/* Global styles
================================================== */

a{
	color: #da211b;
}

a.read-more:hover{
	color: #327cbc;
}


/* Typography
================================================== */

.btn.btn-primary{
	border: 2px solid #da211b;
}

.btn.btn-primary:hover{
	background: #da211b;
}

.btn.btn-primary.solid{
	background: #da211b;
}

ul.circle li:before{
	color: #da211b;
}

ul.check-list li i{
	color: #da211b;
}

blockquote {
	border-left: 5px solid #da211b;
}


/* Common styles
================================================== */

.heading:hover .title-icon{
	color: #da211b;
}

h2.entry-title a:hover{
	color: #da211b;
}

/* Icon pentagon */

.icon-pentagon{
	background: none repeat scroll 0 0 #da211b;
}

.icon-pentagon:before{
	border-bottom: 10px solid #da211b;
}

.icon-pentagon:after {
	border-top: 10px solid #da211b;
}

.service-icon:before {
	border-bottom: 30px solid #da211b;
}

.service-icon:after {
	border-top: 30px solid #da211b;
}

/* Carousel controller */

.ts-carousel-controller .left:hover,
.ts-carousel-controller .right:hover,
.owl-controls .owl-prev:hover, 
.owl-controls .owl-next:hover{
	background: #da211b;
}

/* Input form */

.form-control:focus{
	border: 1px solid #da211b !important;
}

/* Flex Slider */

.portfolio-slider .flex-direction-nav a:hover,
.ts-flex-slider .flex-direction-nav a:hover {
	background: #da211b;
}

/* Pagination */
.pagination .page-link{
	color: #da211b;
}

.pagination .page-item.active .page-link,.pagination .page-item:hover .page-link{
	background: #da211b;
	border-color: #da211b;
}

/* Header area
================================================== */

/*-- Header --*/
.header{
	border-top: 5px solid #da211b;
}

.header-solid ul.navbar-nav > li:hover > a, .header-solid ul.navbar-nav > li.active > a {
  color: #da211b;
}

/*-- Logo --*/

.navbar-brand{
	background: #da211b;
}

.navbar-toggler{
	background: #da211b;
}

/*-- Main navigation --*/

.nav-item.active{
	color: #da211b;
}

.nav-link:hover,.dropdown-item:hover{
	color: #da211b !important;
}


/* Header area - 2
================================================== */

/*-- Header bgnone fixed --*/

.header-bgnone{
	background: #da211b;
}


/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .carousel-indicators li.active,
#main-slide .carousel-indicators li:hover {
    background-color: #da211b;
}

#main-slide .carousel-control i:hover{
	background: #da211b;
}

/* Image Block
================================================== */

.image-block-content .feature-icon{
	background: #da211b;
}


/* Portfolio
================================================== */

.isotope-nav ul li a{
	border: 1px solid #da211b;
}

.isotope-nav ul a.active, 
.isotope-nav ul a:hover{
	background: #da211b;
}

.isotope-nav ul a.active:after, 
.isotope-nav ul a:hover:after{
	border-color: #da211b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


/* Feature box
================================================== */
.feature-icon{
	color: #da211b;
}

.feature-center-icon{
	color: #da211b;
}

/* About us
================================================== */

/* Featured Tab */

.featured-tab .nav-link.active{
	background: #da211b;
}

.featured-tab .nav-link.active::before{
	border-left-color: #da211b;
}

.featured-tab .nav-link:hover{
	background: #da211b;
	color: #fff !important;
}
.featured-tab .nav-link:hover:before{
	border-left-color: #da211b;
}

/* Pricing table
================================================== */

.plan.featured .plan-price{
	background: #da211b;
}
.plan.featured .plan-price:after{
	border-top-color: #da211b;
}

/* Testimonial
================================================== */

.testimonial-slide .testimonial-text:before{
	color: #da211b;
}

.testimonial-slide .testimonial-text:after{
	color: #da211b;
}

.testimonial-slide.owl-theme .owl-controls .owl-page.active span{
	background: #da211b;
}

/* Recent Post
================================================== */

.post-img-overlay a:hover{
	background: #da211b;
}


/* Footer
================================================== */

.copyright-info a:hover{
	color: #da211b;
}

.footer2 .copyright-info a{
	color: #da211b;
}

#back-to-top .btn.btn-primary:hover{
	background: #da211b;
}

.footer-about-us h4{
	color: #da211b;
}

.footer-widget .latest-post-content h4 a:hover{
	color: #da211b;
}

.subscribe button{
	background: #da211b;
}

/* Blog Item page
================================================== */

.post-meta a:hover{
	color: #da211b;
}

.author-url span a:hover{
	color: #da211b;
}

.comments-counter a:hover{
	color: #da211b;
}

.comments-list .comment-reply:hover{
	color: #da211b;
}

/*-- Blog sidebar --*/


.widget-tab h4.entry-title a:hover{
	color: #da211b;
}

.widget-tags ul > li a:hover{
	background: #da211b;
}

/* Landing page
================================================== */

.landing-header.header-bgnone ul.navbar-nav > li:hover > a, 
.landing-header.header-bgnone ul.navbar-nav > li.active > a {
	color: #da211b;
}

.features-content .features-icon{
	color: #da211b;
}

.landing_facts{
	background: #da211b;
}

.landing-tab .nav-link.active i{
	color:#da211b;
}

.landing-tab .nav-link::before{
	background: #da211b;
}

.landing-tab .nav-link:hover i{
	color: #da211b !important;
}

.text-primary{
	color: #da211b !important;
}

.app-gallery.owl-theme .owl-controls .owl-page.active span{
	background: #da211b;
}

.landing_page_clients{
	background: #da211b;
}

/* Misc */

.title-border{
	border-bottom: 2px solid #da211b;
}

.post-title a:hover{
	color: #da211b;
}

.portfolio-static-desc a:hover{
	color: #da211b;
}

.client-carousel .item a:hover{
	border: 1px solid #da211b;
}

.footer ul li a:hover{
	color: #da211b;
}

.call-to-action{
	background: #da211b;
}

.blog-date{
	background: #da211b;
}

.widget-categories ul.category-list  li a:hover{
	color: #da211b;
}

.about-message ul li a:hover{
	color: #da211b;
}


